In [ ]:
import pandas as pd

In [ ]:
students_df = pd.read_csv("files/students_record.csv")

print("DataFrame shape (rows, columns):", students_df.shape)
print("\nColumn names(in the form of a list):", students_df.columns.tolist())
print("\nData types:")
print(students_df.dtypes)


print("\nStatistical summary of datatset:") 
print(students_df.describe())

In [ ]:
# Accessing columns
print("\nLast Names:")
print(students_df["last_name"]) #result of this is a series. A datatframe is madeup of multiple series.

In [ ]:
#Filtering - In  this case we're filtering for student with math score of 90 and above
high_scores = students_df[students_df["math_score"] >= 90]
print(high_scores)

In [ ]:
#Conditional selection
new_df=students_df[["student_id", "first_name", "last_name", "gender", "age"]]
print(new_df)

   student_id first_name  last_name gender  age
0      STU001       Emma    Johnson      F   16
1      STU002       Liam      Smith      M   15
2      STU003     Olivia   Williams      F   16
3      STU004       Noah      Brown      M   17
4      STU005        Ava      Jones      F   16
5      STU006    William     Garcia      M   15
6      STU007     Sophia     Miller      F   17
7      STU008      James      Davis      M   16
8      STU009   Isabella  Rodriguez      F   15
9      STU010      Logan   Martinez      M   17
10     STU011  Charlotte  Hernandez      F   16
11     STU012   Benjamin      Lopez      M   15
12     STU013        Mia   Gonzalez      F   17
13     STU014      Mason     Wilson      M   16
14     STU015     Harper   Anderson      F   15
15     STU016      Ethan     Thomas      M   17
16     STU017     Amelia     Taylor      F   16
17     STU018  Alexander      Moore      M   16
18     STU019     Evelyn    Jackson      F   15
19     STU020    Michael     Martin      M   17