In [7]:
import pandas as pd

You can create a  pandas datatframe from a dictionary

In [8]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Boston', 'Chicago', 'Denver', 'Seattle'],
    'Score': [85, 92, 78, 95, 89]
}

df = pd.DataFrame(data)
print(df)

      Name  Age      City  Score
0    Alice   24  New York     85
1      Bob   27    Boston     92
2  Charlie   22   Chicago     78
3    David   32    Denver     95
4      Eva   29   Seattle     89

You can also create a  pandas datatframe from a csv file , like seen below:

In [ ]:
sales_df = pd.read_csv("files/students_record.csv")
print("The first 5 rows of the DataFrame")

print(sales_df.head()) # Gives the 5 first rows of a datafrmae by default... if a head function(number) is added.. it'd print that number

The first 5 rows of the DataFrame
  student_id first_name last_name gender  age  grade_level  math_score  \
0     STU001       Emma   Johnson      F   16           10          92
1     STU002       Liam     Smith      M   15           10          78
2     STU003     Olivia  Williams      F   16           10          95
3     STU004       Noah     Brown      M   17           11          45
4     STU005        Ava     Jones      F   16           10          82

   science_score  english_score  history_score  attendance_rate
0             88             95             78             0.97
1             82             65             91             0.89
2             96             88             94             0.98
3             58             72             63             0.75
4             79             85             80             0.92